<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-3">
      <%= image_tag @catalogue.rank1, class: "img-responsive" %>
    </div>
    <div class="col-xs-12 col-md-3">
      <%= image_tag @catalogue.rank2, class: "img-responsive" %>
    </div>
    <div class="col-xs-12 col-md-3">
      <%= image_tag @catalogue.rank3, class: "img-responsive" %>
    </div>
    <div class="col-xs-12 col-md-3">
      <%= image_tag @catalogue.rank4, class: "img-responsive" %>
    </div>
    <div class="col-xs-12 col-md-3">
      <%= image_tag @catalogue.rank5, class: "img-responsive" %>
    </div>
    <div class="col-xs-12 col-md-3">
      <%= image_tag @catalogue.rank6, class: "img-responsive" %>
    </div>
    <div class="col-xs-12 col-md-3">
      <%= image_tag @catalogue.rank7, class: "img-responsive" %>
    </div>
  </div>
</div>
